<p>
  <h2> Courses </h2>
  <% if permitted_to? :create, @courses  %>  
    <%= link_to "new", :controller => "courses", :action => "new" %> <br />
  <% end %>
<ul>
  <% for course in @user.courses %>
    <li><%= link_to course.name + " - " + course.description, course %> </li>
  <% end %>
  
</p>

